extends ../layout

block content

	#header
		.container
			.row
				h1 Sign In

	.container
		.form(class="animated fadeIn")
			form(action="/auth/signin" method="post")
				.field-wrap
					label Email Address 
						span.req *
					input(type='text' name="username" placeholder="kanyewest99" required)

				.field-wrap
					label Password 
						span.req *
					input(type='password' name="password" placeholder="********" required)

				if error
					.field-wrap
						div(id="error" class="animated fadeIn")
							p= error

				.field-wrap
					input(type='submit' value="Sign In")
				a(href="/auth/signup") Don't have an account? Sign up here
