.header{
	margin-top: 40vh;
	text-align: center;
}

.footer{
	margin-top: 10vh;
}

@media (min-width: 550px) {

	li {
		display: inline-block;
	}

	a {
		text-align: center;
		padding: 14px 16px;
	}
}

ul{
	text-align: center;
	list-style-type: none;			
}

a{
	color:#888;
	text-decoration: none;
}

a:hover{
	color:black;
}