/*\definecolor{darkgray}{HTML}{333333}
\definecolor{gray}{HTML}{4D4D4D}
\definecolor{lightgray}{HTML}{999999}

\definecolor{green}{HTML}{C2E15F}
\definecolor{orange}{HTML}{FDA333}
\definecolor{purple}{HTML}{D3A4F9}
\definecolor{red}{HTML}{FB4485}
\definecolor{blue}{HTML}{6CE0F1}
*/

/*font-family: 'Inconsolata', ;*/
/*font-family: 'Raleway', sans-serif;*/

/*REGULAR STUFF*/
.content{
	font-family: "Courier";
}

.center{
	text-align: center;
}

img{
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.column, .columns{
	font-family: "Raleway";
}

/*REGULAR STUFF*/


/* TOP STUFF */
.top-banner{
	padding-top: 5rem;
	background-color: #4D4D4D;
	color: #F5F5F5;
	margin-bottom: 2rem;
}

.top-banner h1{
	font-weight: 300;
	margin: 0;
}

.top-banner h6{
	font-size: large;
}
/* TOP STUFF */



/* OPENING STUFF */
.bash{
	font-family: 'Courier';
}

.terminal{
	background: #000;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 5rem;
} 

.bash{
	color: lime; 
	font-family: "Courier";
	margin: 10px 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 99%;
}

@keyframes type1{ 
	from { width: 0; } 
} 
#first{
	animation: type1 1s steps(60, end); 
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}
#second{
	animation: type2 2s steps(60, end);
}

@keyframes type3{
  0%{width: 0;}
  75%{width: 0;}
  100%{ width: 100; } 
}
#third{
	animation: type3 4s steps(60, end);
}


@keyframes blink{
	to{opacity: .0;}
}
.blink{
	animation: blink 1s 3 forwards;
}


::selection{
	background: black;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 1;
    filter: alpha(opacity=80);
    z-index: 100;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;    
  }
}
/* OPENING STUFF */

/* FOOTER STUFF */
.footer {
	font-family: "Raleway";
	width: 100%;
	border-top: solid thin #1a1a1a;
	position: absolute;
	text-align: center;
}

.footer-list {
	display: inline-block;
	list-style: none;
	margin-bottom: 0;
}
.footer-item {
	position: relative;
	float: left;
	margin-bottom: 0;
}
@media (max-width: 750px) {
	.footer-item {
		width: 100%;
	}
}
.footer-link {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	margin: 0 10px 0 10px;
	text-decoration: none;
	line-height: 6.5rem;
	color: #222;
}
a.anchor {
	display: block;
	position: relative;
	top: -6.5rem;
}
@media (max-width: 750px) {
	a.anchor {
		top: -10px;
	}
}
/* FOOTER STUFF */

