<!DOCTYPE html>
<html ng-app="useradminApp">
<head>
	<title>User Admin Page</title>
	<script type="text/javascript" src="/angular/angular.min.js"></script>
	<script type="text/javascript" src="/Leafii/useradmin.js"></script>
</head>
<body  ng-controller="useradminController as uc">
	<td>user admin page</td>
	<a href="/auth/signout"><button>Sign Out</button></a>

	<td>Webforms</td>
	<div ng-hide="uc.webforms">
		<p>Looks like you dont have any webforms completed yet!</p>
		<a href="/db/webform"><button>Fill one out!</button></a>
	</div>
	<div ng-repeat="webform in uc.webforms track by $index">
		<h1>Portfolio of {{webform.first}}:</h1>
		<p>Webform #{{webform.id}}</p>
		<button ng-click="uc.edit(webform.id);" ng-hide="uc.editting(webform.id);">Edit Webform #{{webform.id}}</button>
		<form ng-show="uc.editting(webform.id);">
			<!-- DOMAIN -->
			<h3>DOMAINS</h3>
			<div ng-repeat="domain in webform.domains track by $index">
				<label>Domain #{{$index}}</label>
				<span>{{domain}}</span>
			</div>

			<!-- PERSONAL -->
			<h3>PERSONAL</h3>
			<div>
				<label>First name</label>
				<input ng-model="webform.first"/>
			</div>
			<div>
				<label>Last name</label>
				<input ng-model="webform.last"/>
			</div>
			<div>
				<label>Email</label>
				<input ng-model="webform.email"/>
			</div>
			<div>
				<label>phone</label>
				<input ng-model="webform.phone"/>
			</div>
			<!-- PROFESSIONAL -->
			<h3>PROFESSIONAL</h3>
			<div>
				<label>school</label>
				<input ng-model="webform.school"/>
			</div>
			<div>
				<label>program</label>
				<input ng-model="webform.program"/>
			</div>
			<div>
				<label>profession</label>
				<input ng-model="webform.profession"/>
			</div>
			<div>
				<label>quote</label>
			<input ng-mo	del="webform.quote"/>
						</div>
			<div>
				<label>About</label>
				<input ng-model="webform.about"/>
			</div>
			<!-- CONTENT -->
			<h3>CONTENTS</h3>
			<div>
				<div ng-repeat="content in webform.contents track by $index">
					<div>
						<label>Field</label>
						<input ng-model="content.field"/>
					</div>
					<div>
						<label>Value</label>
						<input ng-model="content.value"/>
					</div>
				</div>
				<button ng-click="uc.addMore(webform);">Add More</button>
			</div>			
			<button ng-click="uc.cancel();">Cancel</button>
			<button ng-click="uc.update(webform);">Update</button>
		</form>
	</div>
</body>
</html>
