.header h1 {
	text-align: center;
}

.header ul {
	text-align: center;
}

.header li {
	display: inline;
	margin: 40px; 
	background-color: #21CDF3;
	padding: 10px 5px;
	border-radius: 10px;
}

.header a{
	color:white;
	text-decoration: none;
}

.header a:hover{
	color:grey;
}
.header {
	margin: 50px 0px;
}