@import url('https://fonts.googleapis.com/css?family=Jockey+One|Spinnaker');

#visual{
	background: url(../assets/physics.jpg) ;
	background-repeat: repeat-x;
    background-size: auto 100%;
}

#visual .pc-profile-pic {
	max-width:30%;
	float: right;
}

#visual .mobile-profile-pic {
	max-width:70%;
	float: right;
}
#visual .title {
	color: white;
	background-color: rgba(255,255,255,0.5);
	display:inline-block; 
	font-family: 'Jockey One', sans-serif;
	text-shadow: 5px 5px black;
}

#visual .bottom{
	position: absolute;
	bottom: 0;
	left: 0;
}

#visual .pc-school {
	position: absolute;
	bottom: 0;
	right: 0;
}

#visual .pc-school img{
	float: right;
	width: 45%;
	position: relative;
	left: 110px;
	top: 45px;
}

#about .mobile-school {
	width: 100%;
}

#about .degree {
	background-color: #FDD54F;
	font-family: 'Jockey One', sans-serif;
}

#about .since {
	font-family: 'Spinnaker', sans-serif;
}

#about .value-props {
}

#about .value-props img {
	background: #FDD54F;
	text-align: center;
	border-radius:50%;
	display:inline-block;
	padding:30px;
	width:100%;
}