<div class="header animated slideInDown">
    <h1>Blog Posts</h1>
    <h2>Topic of the day</h2>
</div>

<div class="content" ng-init="open == false">
	<div class="main">
		<div class="posts animated fadeIn" ng-repeat="post in $parent.blogposts">
			<div class="preview">
				<h1 class="post-title">
					<a ng-click="open = !open">{{post.name}}</a>
				</h1>
				<span class="post-date">{{post.date}}</span>
				<div ng-if="open" ng-include="post.url" class="animated fadeIn"></div>
			</div>
	    </div>
	</div>
</div>