<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Let's Get Started!</title>
		<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="/Material-icons/material-icons.css">
		<link rel="stylesheet" type="text/css" href="/Skeleton-2.0.4/normalize.css">
		<link rel="stylesheet" type="text/css" href="/Skeleton-2.0.4/skeleton.css">
		<link rel="stylesheet" type="text/css" href="/Fonts/raleway.css">
		<link rel="stylesheet" type="text/css" href="stylesheet/webform/webform.css">
		<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/angular/angular.min.js"></script>
		<script type="text/javascript" src="/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="/ng-file-upload/ng-file-upload.min.js"></script>
		<script type="text/javascript" src="javascript/webform/app.js"></script>
		<script type="text/javascript" src="javascript/webform/webform.js"></script>
	</head>
	<body class="full-page">

		<div class="black-back">
			<div class="container">
				<h1>Let's Get started!</h1>
				<h4 class="align-right">Fill out as much as possible!</h4>
			</div>
		</div>

		<form id="tabForm" name="webform" class="twelve columns" ng-controller="WebformController as wc">
			<md-tabs id="tabs" md-center-tabs md-swipe-content md-selected="wc.selectedTab">

				<md-tab>
					<md-tab-label>
						Domain
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding" layout="row" layout-align="center start">
							<div class="eight columns">
								<h2>Input your desired domain name</h2>
								<label><span class="star">*</span>Preferred Domain Name(s)</label>
								<div layout="row" layout-align="start start">
									<i class="material-icons icon-padding-must">filter_1</i>
									<input type="text" placeholder="fire.com" ng-model="wc.user.domains[0]" required></input>
								</div>
								<div layout="row" layout-align="start start">
									<i class="material-icons icon-padding">filter_2</i>
									<input type="text" placeholder="flame.com" ng-model="wc.user.domains[1]"></input>
								</div>
								<div layout="row" layout-align="start start">
									<i class="material-icons icon-padding">filter_3</i>
									<input type="text" placeholder="torch.com" ng-model="wc.user.domains[2]"></input>
								</div>
								<md-button class="next-btn" ng-click="wc.next()">Next</md-button>
							</div>
						</md-content>
					</md-tab-body>
				</md-tab>

				<md-tab>
					<md-tab-label>
						Contact
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding" layout="row" layout-align="center start">
							<div class="eight columns">
								<h2>Contact Information</h2>
								<label><span class="star">*</span>First Name</label>
								<input name="first" type="text" placeholder="John" ng-model="wc.user.first" required>
								<label><span class="star">*</span>Last Name</label>
								 <input name="last" type="text" placeholder="Smith" ng-model="wc.user.last" required>
								<label><span class="star">*</span>Email</label>
								<input name="email" type="email" placeholder="myemail@mailbox.com" ng-model="wc.user.email" required>
								<label><span class="star">*</span>Phone</label>
								<input name="phone" type="tel" placeholder="123 456 7890" ng-model="wc.user.phone" required>
								<div layout="row" layout-align="space-between center">
									<md-button class="previous-btn" ng-click="wc.previous()">Back</md-button>
									<md-button class="next-btn" ng-click="wc.next()">Next</md-button>
								</div>
							</div>
						</md-content>
					</md-tab-body>
				</md-tab>

				<md-tab>
					<md-tab-label>
						Background
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding" layout="row" layout-align="center start">
							<div class="eight columns">
								<h2>Background</h2>
								<label>School</label>
								<input name="school" type="text" placeholder="University of Waterloo" ng-model="wc.user.school"/>
								<label>Program</label>
								<input name="program" type="text" placeholder="Physics and Astronomy" ng-model="wc.user.program"/>
								<label>Profession</label>
								<input name="profession" type="text" placeholder="Physicist" ng-model="wc.user.profession"/>
								<label>Motto (Personal Quote)</label>
								<input name="quote" type="text" placeholder="To be or not to be" ng-model="wc.user.quote"/>
								<label>About</label>
								<textarea class="full-width" placeholder="I'm a rocket scientist!" ng-model="wc.user.about"></textarea>
								<div layout="row" layout-align="space-between center">
									<md-button class="previous-btn" ng-click="wc.previous()">Back</md-button>
									<md-button class="next-btn" ng-click="wc.next()">Next</md-button>
								</div>
							</div>
						</md-content>
					</md-tab-body>
				</md-tab>

				<md-tab>
					<md-tab-label>
						Content
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding" layout="column" layout-align="center center">
							<div class="eight columns">
								<h2>Tell us about your experiences, projects and Achievements</h2>
							</div>
							<div class="eight columns" ng-repeat="content in wc.user.contents track by $index">
								<div class="row">
									<div class="twelve columns">
										<h5 style="display:inline-block">{{ content.field || "Field " + ($index + 1) }}:</h5>
										<md-button class="delete-btn" ng-click="wc.delete($index)">Delete</md-button>
									</div>
								</div>
								<div class="row">
									<div class="twelve columns">
										<input type="text" placeholder="Experience/Project/.." ng-model="content.field"/>
										<textarea class="twelve columns" placeholder="Content" ng-model="content.value"></textarea>
									</div>
								</div>
								<div class="row attachment-box">
									<div class="twelve columns">
										<label>Attachments:</label>
										<div ngf-drop 
											ngf-select 
										    ng-model="content.files" 
										    class="drop-box" 
										    ngf-drag-over-class="'dragover'" 
										    ngf-multiple="true"
										    ngf-allow-dir="true"
										    accept="image/*,application/pdf" 
										    ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
										<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
									</div>
									<div class="twelve columns" ng-show="content.files">
										<label>Files:</label>
										<ul>
										    <li ng-repeat="f in content.files" style="font:smaller">{{f.name}} {{"upload: " + (f.progress || 0) + "%"}} {{f.$error}} {{f.$errorParam}}</li>
											<button ng-click="wc.upload(content)">Upload</button>
										</ul>
									</div>
								</div>
								<md-button class="add-btn" ng-click="wc.addmore()">+Add fields</md-button>
							</div>
							<div class="eight columns">
								<div layout="row" layout-align="space-between center">
									<md-button class="previous-btn" ng-click="wc.previous()">Back</md-button>
									<md-button class="submit-btn" ng-click="wc.submit(webform)">Submit</md-button>
								</div>
							</div>
						</md-content>
					</md-tab-body>
				</md-tab>
			</md-tabs>
		</form>

		<div class="footer">
			<h5><b>powered by Leafii</b></h5>
      		<h6>Waterloo, ON &copy; 2016</h6>
		</div>
	</body>
</html>