.attachment-box{
	border-radius: 4px;
	border: 1px solid #D1D1D1;
	padding: 10px 6px;
}

.drop-box {
	display: inline-block;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.black-back {
  padding-top: 50px;
  background-color: #1a1a1a;
  color: #f8f8f8;
}

.align-right {
  text-align: right;
}


.full-width {
	width: 100%;
}

input {
	width: 100%;
}

textarea {
	resize: vertical;
	min-height: 200px;
}

.delete-btn {
	margin: 0 0 3rem 0;
	background:  #f44336;
	color: white;
	border: solid thin white;
	float: right;
}

.add-btn {
	color: rgba(0,0,0,0.7);
	cursor: pointer;
	font-weight: bold;
	border: thin solid black;
	float: right;
}

.add-btn:hover {
	color: rgba(0,0,0, 1);
}

.submit-btn {
	background: #00e676;
	color: white;
	border: solid thin white;
	float:right;
}

.next-btn {
	background: #00e676;
	color: white;
	border: solid thin white;
	float:right;
}

.previous-btn {
	background: orange;
	color: white;
	border: solid thin white;
	float:right;
}

hr {
  width: 80%;
}

.star {
	color: red;
	font-size: 25px;
	line-height: 1px;
}

.required {
	color: red;
}
.footer {
  width: 100%;
  border-top: solid thin black;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #1a1a1a;
  color: #f8f8f8;
}


.icon-padding {
	margin-right: 10px;
	color: green;
}

.icon-padding-must {
	margin-right: 10px;
	color: red;
}

.align-middle {
  text-align: center;
}

.align-middle ul {
  display: inline-block;
}

.align-middle ul li a {
  margin: 0 25px 0 25px;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: middle;
  margin-bottom: 0;
}

/*Larger than a phone*/
@media (min-width: 750px) {
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #f8f8f8;
}

.navbar-link.active {
  color: #33C3F0;
}

.full-page {
	overflow: hidden;
}

.scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

#tabForm {
	height: auto;
}

#tabs {
	height: calc(100vh - 292px);
}

md-tabs md-tabs-wrapper {
	background: rgb(105, 212, 78);
}

md-tabs .md-tab {
	color: grey;
}

md-tabs .md-tab.md-active {
	color: black;
	font-weight: bold;
}
