body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}

.cursive{
	font-family: 'Shadows Into Light', cursive;
}

.center{
	text-align: center;
}

#header{
	margin-top: 10px;
}

#album{
	display: inline-block;
	/*width:100%;*/
}

.photo {
    position: relative;
    float: left;
    width: 20vw;
    height: 20vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

#footer{
	margin: 50px 0 0 0;
	padding: 30px 0;
	color: white;
	background-color: #27272b;

}